__pycache__/
*.py[cod]
*$py.class
*.pyc
.idea
.todo
*.log
*.backup
tf_env/
*.png
*.mp4
*.mkv

.tmp/
temp/
.venv/
venv/
env/
workflow/
gfpgan/
models/inswapper_128.onnx
models/GFPGANv1.4.pth
*.onnx
models/DMDNet.pth
