absl-py==2.2.2
addict==2.4.0
albucore==0.0.24
albumentations==2.0.6
annotated-types==0.7.0
astunparse==1.6.3
basicsr==1.4.2
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.1
coloredlogs==15.0.1
comtypes==1.4.10
contourpy==1.3.2
customtkinter==5.2.2
cv2_enumerate_cameras==1.1.15
cycler==0.12.1
Cython==3.0.12
darkdetect==0.8.0
easydict==1.13
facexlib==0.3.0
filelock==3.18.0
filterpy==1.4.5
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.3.2
future==1.0.0
gast==0.6.0
gdown==5.2.0
gfpgan==1.3.8
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
humanfriendly==10.0
idna==3.10
imageio==2.37.0
insightface==0.7.3
Jinja2==3.1.6
joblib==1.4.2
keras==3.9.2
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.44.0
lmdb==1.6.2
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.0.9
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
onnx==1.16.0
onnxruntime-silicon==1.16.3
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
opennsfw2==0.10.2
opt_einsum==3.4.0
optree==0.15.0
packaging==25.0
pillow==11.1.0
platformdirs==4.3.7
prettytable==3.16.0
protobuf==4.23.2
psutil==5.9.8
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pygrabber==0.2
pyparsing==3.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
simsimd==6.2.1
six==1.17.0
soupsieve==2.7
stringzilla==3.12.5
sympy==1.14.0
tb-nightly==2.20.0a20250430
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.3.30
tk==0.1.0
tomli==2.2.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
yapf==0.43.0
